body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.body {
  width: 96vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contract,
.existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul>li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul>li>div {
  margin: 0 5px;
}

.existing-contract ul>li> :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

.header {
  width: 100%;
  margin: 6px 10px 6px 10px;
  padding: 10px 6px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.heading {
  font-size: 36px;
}

.rightS {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}

.heading,
.cCon,
.eCon {
  cursor: pointer;
}

.cCon,
.eCon {
  font-size: 18px;
}

.heading:hover {
  color: orangered;
}

.cCon:hover {
  color: #aaa;
}

.eCon:hover {
  color: #aaa;
}